<div class="center jumbotron">
  <h1>Welcome to the Bulletin board</h1>

  <h2>
    This is the home page.
  </h2>

  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>

  <b>or</b>

  <%= link_to "Go to adverts", "#", class: "btn btn-lg" %>
</div>
