<div class="center jumbotron welcome-block">
  <h1>Welcome to the Bulletin board</h1>

  <h2>This is the home page</h2>

  <div class="welcome-block-buttons">
    <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>

    <b>or</b>

    <%= link_to "Go to adverts", "#", class: "btn-default btn-lg" %>
  </div>
</div>
