<div class="center jumbotron welcome-block">
  <h1>Welcome to the Bulletin board</h1>
  
  <% if user_signed_in? %>
    <h2>Signed in as <%= current_user.email %></h2>
  <% else %>
    <h2>This is the home page</h2>
  <% end %>

  <div class="welcome-block-buttons">
    <% if user_signed_in? %>
      <%= link_to "Go to adverts", "#", class: "btn-default btn-lg" %>
    <% else %>
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>

      <b>or</b>

      <%= link_to "Go to adverts", "#", class: "btn-default btn-lg" %>
    <% end %>
  </div>
</div>
