<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BulletIn Board", root_path, id: "logo" %>
    <nav>
      <%= link_to "Log In", "#", class: "align-middle navbar-right btn btn-primary btn-md text-white header-login-btn" %>
    </nav>
  </div>
</header>